header {
    font-size: 1em;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}

header nav .nav-right {
    display: flex;
    align-items: center;
}

header nav .nav-right a {
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
}

header nav .nav-left {

}

header nav .nav-left .register-login-btn {
    border: 1px solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .nav-left .register-login-btn i {
    margin: 7px;
    color: #444;
    font-size: 1.1em;
}

header nav .nav-left .register-login-btn a {
    color: #444;
    margin: 0px 10px;
    font-size: 0.9em;
}

/* slider section */

.slider {
    position: relative;
    font-size: 1em;
}

.slider .slides {

}

.slider .slides .item {
    position: relative;
    display: none ;
}

.slider .slides .active {
    display: block;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.slider .slides .item img {
    width: 100%;
}

.slider .slides .item span {
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 40%;
    font-size: 1.5em;
    color: #222;
}

.slider .buttons {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}
.slider .buttons i {
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}
.slider .buttons i:hover {
    color: rgba(225, 225, 225, 0.4);
}

/* product section */

.home-page-product-section {
    padding: 20px 10px;
    font-size: 1em;
}

.home-page-product-section .shoping-card {
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba( 0, 0, 0, 0.2);
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10px;
    /* border: 1px solid #bdc3c7 ; */
}

.home-page-product-section .shoping-card .img-sec {
    position: relative;
}

.home-page-product-section .shoping-card .img-sec img {
    width: 60%;
}

.home-page-product-section .shoping-card .img-sec .hot-offer{
    background-color: #e74c3c;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9em;
}

.home-page-product-section .shoping-card .img-sec .stars {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #f1c40f;
}

.home-page-product-section .shoping-card .title {
    color: #333;
    margin: 15px;
}

.home-page-product-section .shoping-card .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 15px;
}

.home-page-product-section .shoping-card .buttons .right {

}

.home-page-product-section .shoping-card .buttons .right .price{
    color: #555;
    font-weight: bold;
}

.home-page-product-section .shoping-card .buttons .left {
    display: flex;

}

.home-page-product-section .shoping-card .buttons .left .extend-btn {
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #2ecc71;
    color: #fff;
    width: 40px;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.75s;
}

.home-page-product-section .shoping-card .buttons .left .extend-btn:hover {
    width: 100px;
}

.home-page-product-section .shoping-card .buttons .left .extend-btn .b-text {
    display: none;
    color: #fff;
    font-weight: bold;
    padding-top: 3px;
}

.home-page-product-section .shoping-card .buttons .left .extend-btn:hover .b-text {
    display: block;
}

.home-page-product-section .shoping-card .buttons .left .extend-btn .b-icon {
    color: #fff;
    padding-top: 8px;
}

.home-page-product-section .shoping-card .buttons .left .extend-btn a {

}

.home-page-product-section .shoping-card .buttons .left .extend-btn a i{

}

/* super offer section */

.super-offer-section {
    padding: 20px;
    font-size: 1em;
}

.super-offer-section .super-offer-box {
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba( 0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 10px;

}

.super-offer-box .super-offer-box-title {
    background-color: #e74c3c;
    color: #fff;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 0 0 8px 8px;
}

.super-offer-box .body {

}

.super-offer-box .body .image-container {
    text-align: center;
    padding: 30px;
}

.super-offer-box .body .image-container img {
    width: 100%;
}

.super-offer-box .body .spesification {
    padding: 30px 50px;
}

.super-offer-box .body .spesification .price-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.super-offer-box .body .spesification .price-row .price {
    margin-left: 60px;
    color: #444;
    font-size: 1.2em;

}

.super-offer-box .body .spesification .price-row .off {
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;

}

.super-offer-box .body .spesification .title {
    margin: 40px 0;
    font-weight: bold;
    color: #444;
    font-size: 1.4em;

}

.super-offer-box .body .spesification .counter-down {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin: 10px 40px;
    padding-top: 20px;
    font-weight: bold;
    color: #666;
    font-size: 1.5em;
}


.super-offer-box .body .spesification .remaining-time {
    color: #777;
    font-size: 0.8em;

}


.banner {
    text-align: center;
    padding: 0 5px;
}

.banner img {
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba( 0, 0, 0, 0.2);
    width: 80%;
}