.login-container {
    height: 100%;
    padding: 30px;
}

.row {
    justify-content: center;
    align-items: center;
}

body {
    background-image: linear-gradient( to right, rgba(90,92,106,1), rgba(32,45,58,1) 81.3%);
}

.login-box {
    font-size: 0.8em;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 25px 35px;
    color: #fff;
    margin: 20px 30px;
}

.login-box form {

}

.login-box form .input-group {
    margin: 30px 0px;
}

.login-box form .input-group label {
    display: block;
}

.login-box form .input-group input::selection {
 background-color: #f1c40f;
 color: rgba(32,45,58,1);
}

.login-box form .input-group input {
    border: none;
    border-radius: 20px;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    width: 100%;
    outline: none;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
  }


.login-box form .submit-btn-container {
    text-align: center;
    margin-top: 20px;
}

.login-box form .submit-btn-container input {
    border: none;
    border-radius: 35px;
    background-color: #f1c40f;
    padding: 10px 40px;
    color: rgba(32,45,58,1);
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;

}

.login-box form .social-auth {
    text-align: center;
}

.login-box form .social-auth i {
    margin-left: 7px;
}

/* .login-box .social-auth {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: 25px;
    padding-top: 20px;
} */

.login-box .social-auth a {
    color: #ffffff;
    font-size: 1.9em;
}

.login-img-container img {
    width: 100%;
}   

.login-box .login-options {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: 25px;
    padding-top: 20px;
}

.login-box .login-options  a {
    color:#f1c40f;
}
