.sign-up-container {
    height: 100%;
    padding: 30px;
}
.row {
    justify-content: center;
    align-items: center;
}

body {
    background-image: linear-gradient( to right, rgba(90,92,106,1), rgba(32,45,58,1) 81.3%);
}

.sign-up-box {
    font-size: 0.8em;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 25px 35px;
    color: #fff;
    margin: 20px 30px;
    height: auto;
}

.sign-up-box .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
    padding-bottom: 0px;
}

.sign-up-box .nav .title {
    font-size: 1.5em;
}

.sign-up-box .nav a {
    color: #fff;
}

.sign-up-box .nav a i {
    font-size: 1.5em;
}

.sign-up-box form .input-group {
    margin: 30px 0px;
}

.sign-up-box form .input-group label {
    display: block;
}

.sign-up-box form .input-group input::selection {
 background-color: #f1c40f;
 color: rgba(32,45,58,1);
}

.sign-up-box form .input-group input {
    border: none;
    border-radius: 20px;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    width: 100%;
    outline: none;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
  }


.sign-up-box form .conditions input {
    accent-color: #f1c40f;
    outline: none;
}

.sign-up-box form .conditions a {
    color:#f1c40f;
}

.sign-up-box form .submit-btn-container {
    text-align: center;
    margin-top: 2rem;
}

.sign-up-box form .submit-btn-container input {
    border: none;
    border-radius: 35px;
    background-color: #f1c40f;
    padding: 10px 40px;
    color: rgba(32,45,58,1);
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;

}

.sign-up-box .bottom-links {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: 25px;
    padding-top: 20px;
}

.sign-up-box .bottom-links a {
    display: block;
    color: #f1c40f;
    font-size: 1em;
    margin: 5px 0 10px 0;
}

.sign-up-img-container img {
    width: 100%;
}   